<body>
    <h1>Education</h1>
    <div class="timeline">
      <ul>
        <li>
          <div class="content">
            <h3>Nova Scotia Community College</h3>
            <p>Diploma - IT Web development. This two-year program provide basic design skills, as well as skills in building, programming, supporting and managing websites.It combines computer programming skills with systems analysis, database design, server implementation skills.</p>
          </div>
          <div class="time">
            <h4>2018.9 - 2020.5</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Harbin Engineering University</h3>
            <p>Master degree - Signal and Information Processing. Master students are researching in these fields and accumulate many experiences in technology.
                During “The tenth five year plan”, we have deeply developed the research of non-linear information signal processing and visual image recognition, especially in morphology filter and stack filter technology.

            </p>
          </div>
          <div class="time">
            <h4>2008.8 - 2011.3
                </h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Harbin Engineering University</h3>
            <p>Bachelor degree - Electrical Engineering.This program gives students a broad understanding of the key principles that are responsible for the extraordinary advances in the technology of computers, micro-electronics, automation and robotics, telecommunications, and power systems.</p>
          </div>
          <div class="time">
            <h4>2004.9 - 2008.8
                </h4>
          </div>
        </li>
        
        
        <div style="clear:both;"></div>
      </ul>
    </div>
  </body>