<mat-toolbar color="primary">
    <div class="content">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Claire</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            
            <li>
                <a routerLink="/skills">Skills</a>
            </li>
            <li>
                <a routerLink="/portfolio">Portfolio</a>
            </li>
            
            <li>
                <a routerLink="/education">Education</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
            
        </ul>
    </div>
    </div>
  </mat-toolbar>