<div class="container skill" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5%" fxLayoutGap.xs="0">
    <div class="item item-4 imgPosition" fxFlex="50%">
        <h2>Front-end technical skills</h2>
        <div class="front-end">
            <p>HTML</p>
            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
            <p>CSS</p>
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
            <p>JavaScript</p>
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
            <p>Angular</p>
            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
            <p>ReactJS</p>
            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
            <p>Asp.net</p>
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
            
        </div>

    </div>
    <div class="item item-5" fxFlex="50%">
        <h2>Back-end technical skills</h2>
        
        <div class="front-end">
            <p>PHP/Laravel</p>
            <mat-progress-bar mode="determinate" color="accent" value="90" class="colorChange"></mat-progress-bar>
            <p>NodeJS/Express</p>
            <mat-progress-bar mode="determinate" color="accent" value="80"></mat-progress-bar>
            <p>MySql</p>
            <mat-progress-bar mode="determinate" color="accent" value="70"></mat-progress-bar>
            <p>Python</p>
            <mat-progress-bar mode="determinate" color="accent" value="60"></mat-progress-bar>
            <p>Restful API</p>
            <mat-progress-bar mode="determinate" color="accent" value="70"></mat-progress-bar>
            <p>Linux</p>
            <mat-progress-bar mode="determinate" color="accent" value="70"></mat-progress-bar>
            
        </div>
    </div>
</div>