<div class="portfolio">
    <h1>Projects</h1>
    <div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="3%" fxLayoutGap.xs="0">
        <div class="item item-4 " fxFlex="50%">
            <mat-card class="example-card">
                <a href="http://www.qikong.tk/projects/phplaravel.html" mat-menu-item>

                    <img mat-card-image src="../../assets/img/php.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Social feed website based on PHP Laravel</mat-card-title>

                    </mat-card-content>
                </a>
            </mat-card>
        </div>
        <div class="item item-5" fxFlex="50%">
            <mat-card class="example-card">
                <a href="http://www.qikong.tk/projects/electron.html" mat-menu-item>

                    <img mat-card-image src="../../assets/img/bankhome.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Bank website based on ReacJS and Java Spring</mat-card-title>

                    </mat-card-content>
                </a>
            </mat-card>
        </div>

    </div>
    <div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="3%" fxLayoutGap.xs="0">
        <div class="item item-4 " fxFlex="50%">
            <mat-card class="example-card">
                <a href="http://www.qikong.tk/projects/jsproject.html" mat-menu-item>

                    <img mat-card-image src="../../assets/img/map.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Airplane map in realtime based on feching API</mat-card-title>

                    </mat-card-content>
                </a>
            </mat-card>
        </div>
        <div class="item item-5" fxFlex="50%">
            <mat-card class="example-card">
                <a href="http://www.qikong.tk/projects/fullstack.html" mat-menu-item>

                    <img mat-card-image src="../../assets/img/homepage.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Pizza's restaurants list App based on MERN</mat-card-title>

                    </mat-card-content>

                </a>
            </mat-card>
        </div>

    </div>

</div>